<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   НЕЙMARKET
  </title>
  <script src="https://cdn.tailwindcss.com">
  </script>
  <link rel="stylesheet" type="text/css" href="stylereg.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet"/>
</head>
 <body class="bg-black font-roboto">
  <header class="bg-black shadow-md">    
  </header>
  <main class="container mx-auto px-4 py-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous">

<div class="container" id="container">
        <div class="form-container sign-up-container">
            <form method="post" action="/reg" style="background-color: #ffffff1f;">
                <h1>Регистрация</h1>
                <!-- <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>или используйте свой E-mail для регистрации</span> -->
                <input type="text" placeholder="Имя" name="name_reg" />
                <input type="text" placeholder="Логин" name="login_reg" />
                <input type="password" placeholder="Пароль" name="pwd_reg" />
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form method="post" action="/log">
                <h1 style="color: white;">Авторизация</h1>
                <!-- <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>или используйте свой аккаунт</span> -->
                <input type="text" placeholder="Логин" name="login_log" />
                <input type="password" placeholder="Пароль" name="pwd_log" />
                <p style="color: red;">{{ gnev_message }}</p>
                <!-- <a href="#">Забыли пароль?</a> -->
                <button type="submit" style="color: white;">Вход</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Добро пожаловать!</h1>
                    <p>Чтобы не потерять свои подарки войди в систему!</p>
                    <button class="ghost" id="signIn">Авторизация</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Привет, Друг!</h1>
                    <p>Готов получать подарки?</p>
                    <button class="ghost" id="signUp">Регистрация</button>
                </div>
            </div>
        </div>
    </div>
	
  </main>
  <script src="jaca.js"></script>
 </body>
</html>